body{
	background-color: rgba(155,155,155,1);
	font-family: archivo;
}
#maindiv{
	background-color: rgba(255,255,255,1);
	width: 1300px;
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 300px,300px,300px,300px,300px;
}
#banner{
	grid-row: 1;
	grid-column: 1/6;
}
#logo{
	position: relative;
	left: 50%;
	margin-left: -200px;
}
#menu{
	background-color: rgba(145,199,62,1);
	grid-row: 2;
	width: 100%;
	grid-column: 1/6;
	height: 50px;
}
#menu>ul{
	margin: 0px;
	width: 100%;
}
#menu>ul>li{
	display: inline-block;
	color: rgba(145,199,62,1);
	margin-right: 45px;
	margin-left: 45px;
	font-size: 25px;
}
a{
	background-color: rgba(81,28,116,1);
	color: white;
 	text-decoration: none;
 	padding: 11px;
 	padding-bottom: 12px;
 	position: relative;
 	top: 11px;
 	height: 50px;
 	transition: 0.2s;
}
a:hover{
	background-color: white;
	color: rgba(81,28,116,1);
	transition: 0.2s;
}
#menuitem1{
	grid-column: 1/2;
}
#menuitem2{
	grid-column: 2/3;
}
#menuitem3{
	grid-column: 3/4;
}
#menuitem4{
	grid-column: 4/5;
}
#menuitem5{
	grid-column: 5/6;
}
#content,#bamischijf,#bitterbal,#berenklauw,#frikandelspeciaal,#gehaktbal{
	grid-row: 3;
	width: 250px;
	position: relative;
	left: 50%;
	margin-left: -125px;
}
#content>img,#bamischijf>img,#bitterbal>img,#berenklauw>img,#frikandelspeciaal>img,#gehaktbal>img{
	align-content: center;
}
#bamischijf{
	grid-column: 1/2;
}
#bitterbal{
	grid-column: 2/3;
}
#berenklauw{
	grid-column: 3/4;
}
#frikandelspeciaal{
	grid-column: 4/5;
}
#gehaktbal{
	grid-column: 5/6;
}
#info1{
	grid-row: 4;
	grid-column: 1/3;
	padding: 15px;
}
#center-logo{
	grid-row: 4;
	grid-column: 3/4;
	width: 250px;
}
#info2{
	grid-row: 4;
	grid-column: 4/6;
	padding: 15px;
}
#kaassouffle,#kipcorn,#kipnuggets,#kroket,#mexicano{
	grid-row: 5;
	width: 250px;
	position: relative;
	left: 50%;
	margin-left: -125px;
}
#kaassouffle{
	grid-column: 1/2;
}
#kipcorn{
	grid-column: 2/3;
}
#kipnuggets{
	grid-column: 3/4;
}
#kroket{
	grid-column: 4/5;
}
#mexicano{
	grid-column: 5/6;
}
#footer{
	background-color: rgba(145,199,62,1);
	width: 100%;
	grid-row: 6;
	grid-column: 1/6;
}
#footer>h1{
	text-align: center;
	margin: 5px;
	font-size: 20px;
}


/* <---Afdeling Snacks---> */
#friet-zonder{
	grid-row: 3;
	grid-column: 1/3;
	width: 550px;
}
#friet-satesaus{
	grid-row: 3;
	grid-column: 4/6;
	width: 550px;
	position: relative;
	left: 6px;
}
#friets-speciaal{
	grid-row: 4;
	grid-column: 1/3;
	width: 550px;
	margin-bottom: -10px;
}
#friet-ketchup{
	grid-row: 4;
	grid-column: 4/6;
	width: 550px;
	position: relative;
	left: 6px;
	margin-bottom: -10px;
}
#frietprijzen>h1{
	text-align: center;
}
#frietprijzen{
	grid-row: 3;
	grid-column: 3/4;
	position: relative;
	top: 80%;
}


/* <---Afdeling Lunch---> */
#broodjes{
	grid-row: 3;
	grid-column: 1/3;
	margin-bottom: -20px;
}
#hamburgerbroodjes{
	grid-row: 3;
	grid-column: 4/6;
	margin-bottom: -20px;
}

#broodjeskoptext{
	width: 550px;
	text-align: center;
	color: rgba(255,255,255,1);
	height: 60px;
	margin-bottom: -25px;
}
#broodjeskoptext>h1{
	position: relative;
	top: 15px;
}
#hamburgerbroodjes{
	width: 550px;
	text-align: center;
	margin-left: 180px;
}
#broodjeskoptext{
	background-color: rgba(145,199,62,1);
}
.broodjescontent{
	color: black;
	width: 550px;
	background-color: rgba(81,28,116,1);
	color: rgba(255,255,255,1);
	height: 200px;
}
.inf{
	position: relative;
	left: 100px;
	top: 25px;
}
.prize{
	position: relative;
	left: 70%;
	top: -108px;
}

.inf,.prize{
	font-size: 25px;
	text-align: left;
	width: 270px;
}